* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

main {
    display: flex;
    justify-content: center;
    border: 2px solid red;
    background-image: url(assets/background/3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

main .top-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .top-content .profile-img {
    display: inline-block;
    position: relative;
    text-align: center;
}

main .top-content .profile-img > h2 {
    position: absolute;
    bottom: 5px;
    color: white;
    transition: transform 500ms ease;
}

main .top-content .profile-img > h2:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main .top-content .about-me {
    /* border: 2px solid blue; */
    max-width: 26.5rem;
    background-color: white;
    box-shadow: rgb(0 0 0 / 30%) 2px 2px;
    padding: 0.8rem;
}

main .top-content .about-me .about-me-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 1.5rem;
}

@media (max-width: 600px) {
    main .top-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .top-content .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 12.5rem;
        margin-top: 0.7rem;
        background-color: white;
        box-shadow: rgb(0 0 0 / 30%) 2px 2px;
        padding: 0.8rem;
    }

    main .top-content .profile-img > img {
        margin-top: 0.7rem;
        box-shadow: rgb(0 0 0 / 20%) 2px 2px;
        width: 12.5rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    main .top-content {
        display: block;
    }

    main .top-content .profile-img {
        position: relative;
        float: left;
        margin: 10px;
        /* top: 0; */
    }

    main .top-content .profile-img > img {
        max-width: 28vw;
    }
}






/*                           */

footer {
    border: 2px solid green;
    
}