* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    flex-direction: column;
    background-image: url(assets/background/2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

main .top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

main .top-content .profile-img {
    display: inline-block;
    position: relative;
    text-align: center;
}

main .top-content .profile-img > h2 {
    position: absolute;
    bottom: 5px;
    color: white;
    transition: transform 500ms ease;
}

main .top-content .profile-img > h2:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main .top-content .about-me {
    max-width: 26.5rem;
    background-color: white;
    box-shadow: rgb(0 0 0 / 30%) 2px 2px;
    padding: 0.8rem;
}

main .top-content .about-me .about-me-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 1.5rem;
}

@media (max-width: 600px) {
    main .top-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .top-content .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 12.5rem;
        margin-top: 0.7rem;
        background-color: white;
        box-shadow: rgb(0 0 0 / 30%) 2px 2px;
        padding: 0.8rem;
    }

    main .top-content .profile-img > img {
        margin-top: 0.7rem;
        box-shadow: rgb(0 0 0 / 20%) 2px 2px;
        width: 12.5rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    main .top-content {
        display: block;
    }

    main .top-content .profile-img {
        position: relative;
        float: left;
        margin: 10px;
        /* top: 0; */
    }

    main .top-content .profile-img > img {
        max-width: 28vw;
    }
}

/*                           */

main .bottom-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.8rem;
    max-width: 1500px;
}

main .bottom-content > h1 {
    padding: 10px;
    color: white;
    text-decoration: underline;
    text-align: center;
}

main .bottom-content .work-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
}

main .bottom-content .work-cards > div > img {
    height: 100%;
    width: 100%;
    align-self: center;
}

main .bottom-content .work-cards > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.59);
}

main .bottom-content .work-cards > div > div {
    position: relative;
    padding: 1rem;
}

main .bottom-content .work-cards > div > div > .card-icons {
    display: flex;
    gap: 0.5rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 3rem;
}

main .bottom-content .work-cards > div > div > .card-icons > img {
    transition: transform 500ms ease;
}

main .bottom-content .work-cards > div > div > .card-icons > img:nth-child(1):hover,
main .bottom-content .work-cards > div > div > .card-icons > img:nth-child(2):hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 600px) {
    main .bottom-content .work-cards {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {

    main .bottom-content .work-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*                           */

footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: antiquewhite;
}

footer .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
}

footer .footer-left > p > img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

footer .footer-left .footer-icons > img {
    margin-top: 20px;
    width: 40px;
    height: 40px;
}

footer .footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-right img {
    width: 300px;
    height: 300px;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    footer .footer-left {
        
    }
}